.recipes-display-container {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.07), 0 1.5px 4px -1px rgba(0, 0, 0, 0.05);
  border: 1px solid #d1d5db;
  padding: 2rem;
  margin-top: 2rem;
}

.recipes-display-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #111827;
  margin-bottom: 1.5rem;
}

.recipes-display-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .recipes-display-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.recipes-display-actions {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
}

.recipes-display-button {
  width: 25%;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}


.recipes-display-button-primary {
  background-color: #16a34a;
  color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.recipes-display-button-primary:hover:not(:disabled) {
  background-color: #15803d;
}

.recipes-display-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}