/* Global Styling */
.app-container {
    min-height: 100vh;
    background-color: #f9fafb;
    border: 1px solid blue;
}
  
.app-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem;
    border: 1px solid green;
}